@use 'reset';

body {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 100px;
}

.graphics {
  margin-top: 50px;
  border: 3px solid #000;
  box-shadow: 4px 4px 10px #000;
  background-color: azure;

  &_square {
    fill:#fbff00;
    stroke-width:5;
    stroke:#19d101;

    &:hover {
      fill:#ffb109;
      stroke-width:10;
      stroke:#ff0606;
      transition: 2s;
    }

    &:active {
      width: 50px;
      height: 50px;
      
    }
  }
  
  &_rectangle {
    fill:#0077ff;
    stroke-width:5;
    stroke:#7600bb;

    &:hover {
      fill:#a102b6;
      stroke-width:10;
      stroke:#ff0606;
      transition: 2s;
    }

    &:active {
      width: 500px;
      height: 300px;
      
    }
  }

  &_circle {
    fill:#1eff00;
    stroke-width:5;
    stroke:#d101ae;
    &:hover {
      fill:#a102b6;
      stroke-width:20;
      stroke:#ff0606;
      transition: 2s;
    }

    &:active {
      fill:#0e02b6;
    }
  }

  &_ellipse {
    fill:#9dff00;
    stroke-width:5;
    stroke:#d17701;
    &:hover {
      fill:#9c9c9c;
      stroke-width:20;
      stroke:#ff06ea;
      transition: 2s;
    }

    &:active {
      fill:#02b698;
    }
  }
}